### Script para acceder al WebService de Moodle

In [1]:
%pip install --quiet requests pandas

Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import pandas as pd

url = "http://localhost/moodle/webservice/rest/server.php"

params = {
    'wstoken': '33aaa2ea26eefce99b2e2d29cb82ac12',
    'wsfunction': 'tool_course_subscribe_get_allcourses',
    'moodlewsrestformat': 'json'
}

response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    df = pd.DataFrame(data)[['id', 'shortname', 'fullname', 'summary']]
    display(df)
else:
    print(f"Error en la petici√≥n: {response.status_code}")

   id       shortname        fullname summary
0   1    nutrabiotics    NUTRABIOTICS
1   2  NUTRIBIOTICS01  PRUEBA TECNICA